body {
  font-family: Verdana;
  color: white;
}

.left {
  width: 300px;
  background: #342F2D;
  padding: 1rem;
}

.right {
  width: 400px;
  background: #A0B25F;
  padding: 1rem;  
}

main {
  display: flex;
  justify-content: space-between;
}